<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZmQ3ZqDuWx1TbvIIpRAnx1qVAI5PpVB0</string>
	<key>GCM_SENDER_ID</key>
	<string>196250959619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.practoDoctorTest</string>
	<key>PROJECT_ID</key>
	<string>practo-doctor-test</string>
	<key>STORAGE_BUCKET</key>
	<string>practo-doctor-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:196250959619:ios:3967ff1d244ffc0eba3336</string>
</dict>
</plist>